.PageBackground {
    background: linear-gradient(45deg, #dbdbdb, #7a7a7a);
}

.ElementTable{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.ElementHeaderL{
    font-family: "Bahnschrift", sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

.ElementHeaderM{
    font-family: "Bahnschrift", sans-serif;
    font-size: 3vw;
    font-weight: bold;

    text-decoration: underline;
}

.ElementHeaderR{
    font-family: "Bahnschrift", sans-serif;
    font-size: 2vw;
    font-weight: bold;
}

.ElementCellHeader{
    font-family: "Bahnschrift", sans-serif;
    font-size: 1.8vw;
    font-weight: bold;

    text-align: left;
    vertical-align: top;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
}

.ElementCellContent{
    font-family: "Bahnschrift", sans-serif;
    font-size: 1.3vw;
    font-weight: bold;

    text-align: left;
    vertical-align: top;

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2.5%;
}

.ElementTableContentCell{
    vertical-align: top;
}